
*.h5
*.rds
*.gz
data/preCoNGA/matrix.mtx
data/preCoNGA/CoNGA.output_final.h5ad
data/preCoNGA/merged_COVID_gex.h5ad
data/preCoNGA/merged_COVID_clones_AB.dist_50_kpcs_tcrdists.txt
output/.DS_Store
.DS_Store
